.footer_pad{
    padding: 59px 110px;
}
.foot_df{
    display: flex;
    color: #fff;
    gap: 80px;
}
.foot_df h2{
    font-size: 28px;
    font-weight: 400;
}
.foot_df ul li{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}
.footer_pos{
    margin-top: 6px;
    margin-left: 36.5rem;
}
.foot_df2{
    display: flex;
    gap: 10px;
}