.imageContainer {
    position: relative;
    display: inline-block;
  }
  
  .image {
    width: 100%; 
    height: auto;
  }
  
  .textOverlay {
    padding: 130px 100px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
  
  .textOverlay h4,
  .textOverlay h1,
  .textOverlay p,
  .textOverlay button {
    margin: 0;
  }
  .textOverlay h4{
    font-size: 32px;
    font-weight: 500;
  }
  .textOverlay h1{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 692px;
    font-size: 78px;
    font-weight: 900;
  }
  .textOverlay p{
    font-size: 32px;
    font-weight: 500;
  }
  .textOverlay button{
    margin-top: 40px;
    padding: 16px 72px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    border: none;
  }
  
